@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-warm-black bg-cream-50 antialiased lowercase;
    font-size: 16px;
    font-weight: 400;
  }
  h1 {
    @apply text-6xl md:text-7xl font-light tracking-tight;
  }
  h2 {
    @apply text-4xl font-light tracking-tight;
  }
  h3 {
    @apply text-2xl font-normal tracking-tight;
  }
  h1, h2, h3, h4, p, span, a, button, label, input::placeholder {
    text-transform: lowercase;
  }
}
